@use '../../../../../packages/ui/src/styles/variables' as *;

.alert {
  margin-bottom: var(--spacing-lg);
  padding: var(--spacing-base);
  border-radius: var(--border-radius);
  font-size: var(--font-size-xs);
}

.alert-error {
  @extend .alert;
  background-color: var(--background-color-error);
  border: 1px solid var(--border-color-error);
  color: var(--text-color-danger);
}
