@use '../../../../../packages/ui/src/styles/variables' as *;

.button {
  width: 100%;
  padding: var(--spacing-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-tertiary);
  background-color: var(--border-color-primary);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-default);

  &:disabled {
    background-color: var(--text-color-secondary);
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    opacity: 0.9;
  }
}

.button-primary {
  @extend .button;
}
