@use '../../../../../packages/ui/src/styles/variables' as *;

.form-group {
  margin-bottom: var(--spacing-lg);

  &:last-of-type {
    margin-bottom: var(--spacing-2xl);
  }
}

.form-label {
  display: block;
  margin-bottom: var(--spacing-md);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-primary);
}

.form-input {
  width: 100%;
  padding: var(--spacing-base);
  font-size: var(--font-size-base);
  border: 1px solid var(--border-color-tertiary);
  border-radius: var(--border-radius);
  box-sizing: border-box;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
    border-color: var(--border-color-primary);
  }
}
