@use '../../../styles/mixins/flexbox' as *;
@use '../../../styles/variables' as *;

.label {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: $spacing-md;
  min-width: 0;
}

.input {
  cursor: pointer;
  flex-shrink: 0;
}

.labelText {
  flex: 1 1 auto;
  font-size: $font-size-base;
  min-width: 0;
}

.wrapRoot {
  flex: 1;
  margin-bottom: var(--spacing-2xl);
  position: relative;
  @include flexColumn;
}

.wrapOption {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.wrapInput {
  cursor: pointer;
  flex-shrink: 0;
  height: 1.25rem;
  margin-right: var(--spacing-md);
  width: 1.25rem;
}

.wrapLabelText {
  font-size: var(--font-size-base);
}
