@use '../../../styles/mixins/flexbox' as *;
@use '../../../styles/mixins/flexShrink' as *;
@use '../../../styles/mixins/layout' as *;

.modalRoot {
  position: fixed;
  inset: 0;
  z-index: 10000;
  @include flexCenter;
  padding: 0.75rem;
  box-sizing: border-box;
  overflow: hidden;
}

.modalBackdrop {
  @include fullCoverageWithBackdrop(absolute, 12px);
  background: rgba(0, 0, 0, 0.7);
}

.modalHeader {
  display: flex;
  align-items: center;
  min-height: 2.5rem;
  position: relative;
}

.modalHeaderText {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  flex: 1;
  @include flexItemAllowShrink;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modalCloseButton {
  margin-left: var(--spacing-lg);
  background: var(--background-color-tertiary);
  border: none;
  cursor: pointer;
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: var(--border-radius-round);
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modalCloseButtonAbsolute {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin-left: 0;
}

.modalChildren {
  flex: 1 1 auto;
  margin-top: var(--spacing-lg);
  @include flexItemClampToParent;
  min-height: 0;
  overflow-y: auto;
}

.modalChildren > * {
  @include flexItemClampToParent;
}

.modalChildrenTransparent {
  margin-top: 0;
}

.modalBody {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xl);
  @include flexItemClampToParent;
}

.modalBody > * {
  @include flexItemClampToParent;
}

.modalActions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-2xl);
  justify-content: flex-end;
  @include flexItemAllowShrink;
}

.modalContent {
  position: relative;
  box-sizing: border-box;
  background: var(--background-color-primary);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-modal);
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 3rem);
  max-width: min(var(--modal-content-max-width), calc(100vw - 1.5rem));
  @include flexItemAllowShrink;
  overflow: hidden;
  padding: var(--spacing-modal-padding);
  width: 100%;
  z-index: 1;
}

.modalContentTransparent {
  background: transparent;
  height: 100%;
  justify-content: center;
  max-height: none;
  max-width: none;
  min-height: 100%;
}
