@use '../../../mixins/buttons.scss' as *;

.playButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button-secondary-color);
  background: var(--button-opaque-bg);
  border: var(--button-border-size) solid var(--border-color-primary);
  border-radius: var(--border-radius-round);
  height: var(--media-player-play-button-size) !important;
  width: var(--media-player-play-button-size) !important;
  font-size: var(--font-size-base);
  @include mediaPlayerPlayPauseIconCentering;
}
