@use '../../../styles/mixins/flexShrink' as *;
@use '../../../styles/mixins/form' as *;

.wrapper {
  position: relative;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  width: 100%;
  min-height: 0;
  margin-bottom: 0;
  @include flexItemAllowShrink;
}

.headerRow {
  @include formHeaderRow;
  @include flexItemAllowShrink;
}

.label {
  @include formHeaderLabel;
}

.dropdownWrapper {
  @include formInputWrapper;
  flex: 0 1 auto;
  width: 100%;
  min-height: 0;
  @include flexItemAllowShrink;
}

.dropdownInnerWrapper {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 0;
  @include flexItemAllowShrink;
}

.eyebrow {
  color: var(--text-color-link);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  margin: 0 0 var(--spacing-form-label-bottom);
}

.dropdownButton {
  all: unset;
  box-sizing: border-box;
  display: block;
  min-height: min-content;
  font-size: var(--font-size-md);
  width: 100%;
  padding: var(--spacing-form-input-inner);
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.dropdown {
  align-items: center;
  display: flex;
  @include flexItemAllowShrink;
}

.dropdownSelectedItemText {
  flex: 1;
  @include flexItemAllowShrink;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdownMenu {
  background: var(--background-color-primary);
  border: 1px solid var(--border-color-opaque);
  border-radius: var(--border-radius);
  list-style: none;
  margin-bottom: 0;
  margin-top: 0.25rem;
  max-width: 100%;
  min-width: 160px;
  padding: var(--spacing-form-input-vertical);
  position: absolute;
  top: 100%;
  width: max-content;
  z-index: 1000000;
}

.dropdownMenuFullWidth {
  width: 100%;
}

.menuItem {
  background: none;
  border: none;
  border-radius: var(--border-radius);
  color: var(--text-color-primary);
  cursor: pointer;
  margin: var(--spacing-md);
  padding: var(--spacing-md) var(--spacing-xl);
  text-align: left;

  &:hover,
  &[aria-selected='true'],
  &:focus {
    background: var(--background-color-opaque);
    outline: none;
  }
}

.formDropdownInfo {
  @include formInfoText;
}
