# Dependencies
node_modules/

# Build outputs
dist/

# Generated assets
assets/**/*.jpg
assets/**/*.jpeg
assets/**/*.mp3
assets/**/*.mp4
assets/**/*.rss

# TypeScript build info
tsconfig.tsbuildinfo

# Logs
*.log
