@use '../../../../../../packages/ui/src/styles/variables' as *;

.placeholderCard {
  padding: var(--spacing-4xl);
}

.placeholderText {
  font-size: var(--font-size-lg);
  color: var(--text-color-secondary);
}
