@use '../../../../packages/ui/src/styles/variables' as *;

.loginCard {
  width: 100%;
  max-width: 400px;
  padding: var(--spacing-4xl);
}

.loginHeader {
  margin-bottom: var(--spacing-4xl);
  text-align: center;
}

.loginTitle {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-md);
  color: var(--text-color-primary);
}

.loginSubtitle {
  color: var(--text-color-secondary);
  font-size: var(--font-size-xs);
}
