.form {
  max-width: var(--form-max-width);
}

.timeInputs {
  display: flex;
  gap: var(--spacing-2xl);
}

.bottomSection {
  /* Vertical spacing from Form gap */
}

.bottomSectionButtons {
  margin: var(--spacing-3xl) var(--spacing-none);
}
