# Web app Lightning app-value vars. Prepared by local_env_prepare; applied by local_env_setup.
# Set either LNAddress or Node, not both.

#####
##### App Lightning Node (Optional)
#####
NEXT_PUBLIC_APP_VALUE_LIGHTNING_NODE_NAME=
NEXT_PUBLIC_APP_VALUE_LIGHTNING_NODE_ADDRESS=
NEXT_PUBLIC_APP_VALUE_LIGHTNING_NODE_CUSTOM_KEY=
NEXT_PUBLIC_APP_VALUE_LIGHTNING_NODE_CUSTOM_VALUE=

#####
##### App Lightning LNAddress (Optional)
#####
NEXT_PUBLIC_APP_VALUE_LIGHTNING_LNADDRESS_NAME="Podverse"
NEXT_PUBLIC_APP_VALUE_LIGHTNING_LNADDRESS_ADDRESS="podverse-local@localhost:3003"

#####
##### App MetaBoost (Optional)
#####
NEXT_PUBLIC_APP_VALUE_METABOOST_STANDARD=
NEXT_PUBLIC_APP_VALUE_METABOOST_NODE=
