# Contact and social links. Prepared by local_env_prepare; applied by local_env_setup.
# Shared between web (footer/contact) and API (email templates). Edit socials.env and run make local_env_setup.

#####
##### Contact
#####
NEXT_PUBLIC_CONTACT_EMAIL="contact@podverse.fm"

#####
##### Web – social links (footer / contact page)
#####
# Leave empty to hide a link
NEXT_PUBLIC_SOCIAL_ACTIVITY_PUB="https://podcastindex.social/web/@podverse"
NEXT_PUBLIC_SOCIAL_DISCORD="https://discord.gg/6HkyNKR"
NEXT_PUBLIC_SOCIAL_GITHUB="https://github.com/podverse"
NEXT_PUBLIC_SOCIAL_MATRIX="https://matrix.to/#/#podverse-space:matrix.org"
NEXT_PUBLIC_SOCIAL_X="https://x.com/podverse"

#####
##### API / email templates – social (page URL + image URL per platform)
#####
SOCIAL_FACEBOOK_PAGE_URL="https://facebook.com/podverse"
SOCIAL_FACEBOOK_IMAGE_URL="https://podverse.fm/images/social-facebook-128x128.png"
SOCIAL_GITHUB_PAGE_URL="https://github.com/podverse"
SOCIAL_GITHUB_IMAGE_URL="https://podverse.fm/images/social-github-128x128.png"
SOCIAL_TWITTER_PAGE_URL="https://twitter.com/podverse"
SOCIAL_TWITTER_IMAGE_URL="https://podverse.fm/images/social-twitter-128x128.png"
SOCIAL_REDDIT_PAGE_URL=
SOCIAL_REDDIT_IMAGE_URL=
