@use '../../../mixins/flexbox' as *;

.listWrapper {
  margin: var(--spacing-section-y);
  margin-top: 0.25rem;
}

.list {
  @include flexColumn(1.25rem);
}

.listTracks {
  @include flexColumn(1.25rem);
}

.row {
  display: flex;
  flex: 1;
}
