@use '../../../styles/mixins/flexShrink' as *;
@use '../../../styles/mixins/form' as *;
@use '../../../styles/variables' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  @include flexItemAllowShrink;
}

.eyebrow {
  @include formFieldEyebrow;
}
