{
  "autorun": false,
  "terminals": [
    {
      "name": "Root",
      "description": "Monorepo root",
      "cwd": ".",
      "open": true
    },
    {
      "name": "helpers",
      "description": "@podverse/helpers",
      "cwd": "packages/helpers",
      "open": true,
      "command": "sleep 2 && npm run build:watch"
    },
    {
      "name": "external-services",
      "description": "@podverse/external-services",
      "cwd": "packages/external-services",
      "open": true,
      "command": "sleep 4 && npm run build:watch"
    },
    {
      "name": "notifications",
      "description": "@podverse/notifications",
      "cwd": "packages/notifications",
      "open": true,
      "command": "sleep 6 && npm run build:watch"
    },
    {
      "name": "orm",
      "description": "@podverse/orm",
      "cwd": "packages/orm",
      "open": true,
      "command": "sleep 8 && npm run build:watch"
    },
    {
      "name": "parser",
      "description": "@podverse/parser",
      "cwd": "packages/parser",
      "open": true,
      "command": "sleep 10 && npm run build:watch"
    },
    {
      "name": "mq",
      "description": "@podverse/mq",
      "cwd": "packages/mq",
      "open": true,
      "command": "sleep 12 && npm run build:watch"
    },
    {
      "name": "api",
      "description": "podverse-api",
      "cwd": "apps/api",
      "open": true,
      "command": "sleep 14 && npm run dev:watch"
    },
    {
      "name": "web",
      "description": "podverse-web",
      "cwd": "apps/web",
      "open": true,
      "command": "sleep 16 && npm run dev"
    },
    {
      "name": "workers",
      "description": "podverse-workers",
      "cwd": "apps/workers",
      "open": true
    },
    {
      "name": "management-api",
      "description": "podverse-management-api",
      "cwd": "apps/management-api",
      "open": true
    },
    {
      "name": "management-web",
      "description": "podverse-management-web",
      "cwd": "apps/management-web",
      "open": true
    },
    {
      "name": "qa",
      "description": "podverse-qa",
      "cwd": "tools/qa",
      "open": true
    }
  ]
}
