$embed-single-audio-shell-height: 284px;
$embed-single-video-shell-height: 444px;
$embed-list-audio-shell-height: 744px;
$embed-list-video-shell-height: 884px;

$embed-player-info-height: 100px;
$embed-brand-logo-height: 32px;
$embed-player-controls-height: 40px;

$embed-list-player-panel-audio-height: 224px;
$embed-list-player-panel-video-height: 344px;

$embed-presentation-selector-height: 52px;
$embed-list-row-height: 48px;

$embed-single-video-placeholder-height: 334px;
$embed-list-video-placeholder-height: 234px;
