.placeholder {
  align-items: center;
  color: var(--color-text-secondary);
  display: flex;
  font-size: var(--font-size-sm);
  height: 100%;
  justify-content: center;
  margin: 0;
  text-align: center;
}
