.controls {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: var(--spacing-lg);
  height: var(--embed-play-button-size);
  min-height: var(--embed-play-button-size);
  width: 100%;
}

.progressRow {
  flex: 1 1 auto;
  min-width: 3rem;
}

.actionsRow {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: var(--spacing-lg);
}

.playButtonCell {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
}
