.hint {
  margin: var(--spacing-base) 0 0;
  color: var(--text-color-secondary);
  font-size: var(--font-size-xs);
}

.hintBlock {
  margin: var(--spacing-lg) 0 0;
  color: var(--text-color-secondary);
  font-size: var(--font-size-xs);
}
