.upEndpointDisplay {
  padding: var(--spacing-base) var(--spacing-lg);
  margin: var(--spacing-md) var(--spacing-none);
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius-default);
  font-size: var(--font-size-sm);
}

.upEndpointLabel {
  color: var(--text-color-secondary);
  margin-right: var(--spacing-md);
}

.upEndpointValue {
  color: var(--text-color-primary);
  word-break: break-all;
}
