PGDATA="/var/lib/postgresql/data/pgdata/"

DB_APP_NAME="podverse_app"
DB_APP_OWNER_USER="podverse_app_owner"
DB_APP_OWNER_PASSWORD=
DB_APP_MIGRATOR_USER="podverse_app_migrator"
DB_APP_MIGRATOR_PASSWORD=
DB_APP_READ_WRITE_USER="podverse_app_read_write"
DB_APP_READ_WRITE_PASSWORD=
DB_APP_READ_USER="podverse_app_read"
DB_APP_READ_PASSWORD=

DB_MANAGEMENT_NAME="podverse_management"
DB_MANAGEMENT_OWNER_USER="podverse_management_owner"
DB_MANAGEMENT_OWNER_PASSWORD=
DB_MANAGEMENT_MIGRATOR_USER="podverse_management_migrator"
DB_MANAGEMENT_MIGRATOR_PASSWORD=
DB_MANAGEMENT_READ_WRITE_USER="podverse_management_read_write"
DB_MANAGEMENT_READ_WRITE_PASSWORD=
DB_MANAGEMENT_READ_USER="podverse_management_read"
DB_MANAGEMENT_READ_PASSWORD=

