POSTGRES_MANAGEMENT_DB=podverse_management
POSTGRES_MANAGEMENT_USER=postgres
POSTGRES_MANAGEMENT_PASSWORD=
PGDATA=/var/lib/postgresql/data/pgdata/

POSTGRES_MANAGEMENT_READ_USER=
POSTGRES_MANAGEMENT_READ_PASSWORD=
POSTGRES_MANAGEMENT_READ_WRITE_USER=
POSTGRES_MANAGEMENT_READ_WRITE_PASSWORD=

SUPERUSER_EMAIL=
SUPERUSER_PASSWORD=
