@use 'flexShrink' as *;

@mixin ellipsisSingleLineParent {
  @include flexItemAllowShrink;
}

@mixin ellipsisSingleLineChild {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
