@use '../../mixins/form' as *;

.authResetPasswordForm {
  max-width: var(--form-max-width);
}

.sessionBanner {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-lg);
}

.buttons {
  @include formButtonsWrapper;
}

.passwordInfo {
  // font-size: var(--font-size-sm);
  color: var(--text-color-secondary);
}

.completePrimaryAction {
  display: flex;
  justify-content: flex-start;
  margin-top: var(--spacing-xl);
  gap: var(--spacing-md);
}
