.formSection {
  margin-bottom: var(--spacing-4xl);
}

.buttonSection {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-4xl);
}

.disabledSection {
  margin-bottom: var(--spacing-4xl);
  padding: var(--spacing-lg);
  background: var(--background-color-secondary);
  border-radius: var(--border-radius);
  text-align: center;
}

.disabledSection p {
  font-size: var(--font-size-lg);
  color: var(--text-color-primary);
  margin: var(--spacing-none);
}
