@use '../../../styles/mixins/flexbox' as *;

.actionLink {
  text-decoration: none;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
}

.actionLink.inline {
  color: var(--border-color-primary);
}

.actionLink.inline:hover,
.actionLink.inline:focus {
  text-decoration: underline;
}

.actionLink.subtle {
  color: var(--text-color-secondary);
}

.actionLink.subtle:hover,
.actionLink.subtle:focus {
  text-decoration: underline;
}

.actionLink.primary {
  @include flexCenter;
  flex: 0 0 auto;
  position: relative;
  border-radius: 36px;
  font-weight: var(--font-weight-bold);
  height: 44px;
  min-width: 9rem;
  width: auto;
  padding: 0 var(--spacing-lg);
  overflow: hidden;
  background: var(--button-primary-bg);
  color: var(--button-primary-color);
}

.actionLink.primary:hover,
.actionLink.primary:focus {
  text-decoration: none;
  background: var(--button-primary-bg-hover);
}
