@use '../../../styles/variables' as *;

.navBar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-md;
  padding: $spacing-sm $spacing-lg;
  background-color: $color-background;
  border-bottom: $border-width solid $color-border-light;
}

.brand {
  display: flex;
  align-items: center;
  min-width: 0;
}

.left {
  display: flex;
  align-items: center;
  gap: $spacing-md;
  min-width: 0;
}

.right {
  display: flex;
  align-items: center;
  gap: $spacing-md;
  min-width: 0;
}
