openapi: 3.0.3
info:
  title: Podverse API
  description: Comprehensive OpenAPI specification generated from audited route matrix coverage for Podverse public API.
  version: 2.0.0
servers:
  - url: https://api.podverse.fm/api/v2
    description: Production Server
  - url: http://localhost:3000/api/v2
    description: Local Development Server
tags:
  - name: account
  - name: account-settings
  - name: auth
  - name: category
  - name: channel
  - name: clip
  - name: external-services
  - name: feed
  - name: item
  - name: item-chapter
  - name: item-soundbite
  - name: item-transcript
  - name: live-item
  - name: medium-value
  - name: membership-claim-token
  - name: metaboost
  - name: mq
  - name: paypal
  - name: playlist
  - name: podroll
  - name: profile
  - name: publisher-feed
  - name: queue
  - name: stats
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: podverse_auth
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    PageQueryRequired:
      in: query
      name: page
      required: true
      description: 1-based page number for paginated list results.
      schema:
        type: integer
        minimum: 1
    PageQueryOptional:
      in: query
      name: page
      required: false
      description: 1-based page number for paginated list results.
      schema:
        type: integer
        minimum: 1
    LimitQueryOptional:
      in: query
      name: limit
      required: false
      description: Maximum number of items to return per page.
      schema:
        type: integer
        minimum: 1
    StatsRangeQueryRequired:
      in: query
      name: range
      required: true
      description: Aggregation range used for ranked list ordering.
      schema:
        type: string
        enum:
          - day
          - week
          - month
          - all-time
    StatsRangeQueryOptional:
      in: query
      name: range
      required: false
      description: Aggregation range used for ranked list ordering.
      schema:
        type: string
        enum:
          - day
          - week
          - month
          - all-time
  schemas:
    MessageResponse:
      type: object
      properties:
        message:
          type: string
    ErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
        code:
          type: string
          nullable: true
          description: Machine-readable error code when available.
        details:
          type: array
          nullable: true
          description: Optional field-level or contextual error details.
          items:
            $ref: "#/components/schemas/ErrorDetail"
    ErrorDetail:
      type: object
      required:
        - message
      properties:
        field:
          type: string
          nullable: true
          description: Request field associated with this detail entry when applicable.
        message:
          type: string
          description: Human-readable detail message.
        code:
          type: string
          nullable: true
          description: Optional machine-readable detail code.
    AuthLoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: Email or username for authentication
          example: user@example.com
        password:
          type: string
          format: password
          description: Account password (minimum 8 characters)
          example: mySecurePassword123
        includeTokenInResponseBody:
          type: boolean
          description: If true, JWT token is included in response body
          example: false
    AuthLoginResponse:
      type: object
      properties:
        message:
          type: string
          example: Authenticated successfully
        token:
          type: string
          format: jwt
          description: JWT token (only present if includeTokenInResponseBody was true)
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    AuthLogoutResponse:
      type: object
      properties:
        message:
          type: string
          example: Logged out successfully
    AuthSessionResponse:
      allOf:
        - $ref: "#/components/schemas/Account"
    AuthCheckSessionResponse:
      type: object
      properties:
        message:
          type: string
          example: Valid auth session
    MobileTokenRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: Email or username for authentication
          example: user@example.com
        password:
          type: string
          format: password
          description: Account password (minimum 8 characters)
          example: mySecurePassword123
    MobileTokenResponse:
      type: object
      required:
        - token_type
        - access_token
        - access_token_expires_in
        - refresh_token
        - refresh_token_expires_in
      properties:
        token_type:
          type: string
          enum:
            - Bearer
          description: Bearer token type (always Bearer)
          example: Bearer
        access_token:
          type: string
          format: jwt
          description: Short-lived JWT access token
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        access_token_expires_in:
          type: integer
          format: int32
          description: Access token lifetime in seconds
          example: 900
        refresh_token:
          type: string
          format: jwt
          description: Long-lived JWT refresh token
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        refresh_token_expires_in:
          type: integer
          format: int32
          description: Refresh token lifetime in seconds
          example: 2592000
    MobileTokenRefreshRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
          format: jwt
          description: Refresh token from previous token response
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    MobileTokenRevokeRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
          format: jwt
          description: Refresh token to revoke
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
    AccountCreateRequest:
      type: object
      required:
        - email
        - password
        - locale
      properties:
        email:
          type: string
          format: email
          description: Email address (must be unique)
          example: newuser@example.com
        password:
          type: string
          format: password
          description: Account password (minimum 8 characters)
          minLength: 8
          example: mySecurePassword123
        locale:
          type: string
          description: ISO locale code
          example: en
    AccountCreateResponse:
      type: object
      properties:
        message:
          type: string
          description: Confirmation message
          example: Account created
    AccountUpdateRequest:
      type: object
      required:
        - display_name
        - bio
        - sharable_status
        - locale
      properties:
        display_name:
          type: string
          nullable: true
          description: Public display name
          example: John Doe
        bio:
          type: string
          nullable: true
          description: Public biography
          example: Podcast enthusiast and developer
        sharable_status:
          type: integer
          description: Account visibility status ID (1=public, 2=unlisted, 3=private)
          enum:
            - 1
            - 2
            - 3
          example: 1
        locale:
          type: string
          description: ISO locale code for account
          example: en
    AccountResponse:
      allOf:
        - $ref: "#/components/schemas/Account"
    AccountPublicResponse:
      type: object
      description: Public account profile (private data removed)
      required:
        - id
        - id_text
        - verified
        - created_at
        - account_profile
      properties:
        id:
          type: integer
          format: int64
          description: Internal account ID
          example: 12345
        id_text:
          type: string
          description: URL-friendly account identifier
          example: abc123xyz789
        verified:
          type: boolean
          description: Whether account email has been verified
          example: true
        created_at:
          type: string
          format: date-time
          description: Account creation timestamp
          example: "2024-01-15T10:30:00Z"
        account_profile:
          $ref: "#/components/schemas/AccountProfile"
        sharable_status:
          type: object
          description: Account visibility status
          properties:
            id:
              type: integer
              example: 1
            name:
              type: string
              enum:
                - public
                - unlisted
                - private
              example: public
    AccountDeleteResponse:
      type: object
      properties:
        message:
          type: string
          description: Confirmation message
          example: Account deleted successfully
    Account:
      type: object
      description: Full authenticated user account with all relations
      required:
        - id
        - id_text
        - verified
        - created_at
        - account_profile
      properties:
        id:
          type: integer
          format: int64
          description: Internal account ID
          example: 12345
        id_text:
          type: string
          description: URL-friendly account identifier
          example: abc123xyz789
        verified:
          type: boolean
          description: Email verification status
          example: true
        created_at:
          type: string
          format: date-time
          example: "2024-01-15T10:30:00Z"
        account_profile:
          $ref: "#/components/schemas/AccountProfile"
        account_credentials:
          $ref: "#/components/schemas/AccountCredentialsPublic"
        account_settings:
          $ref: "#/components/schemas/AccountSettings"
        account_membership_status:
          $ref: "#/components/schemas/AccountMembershipStatus"
        account_notification_channels:
          type: array
          items:
            $ref: "#/components/schemas/AccountNotificationChannel"
          description: Notification channels configured for this account
        sender_guid:
          type: string
          format: uuid
          nullable: true
          description: Metaboost sender GUID
          example: 550e8400-e29b-41d4-a716-446655440000
    AccountProfile:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 5678
        display_name:
          type: string
          nullable: true
          description: Public display name
          example: John Doe
        bio:
          type: string
          nullable: true
          description: Public biography
          example: Podcast enthusiast and developer
    AccountCredentialsPublic:
      type: object
      description: Account credentials without password
      properties:
        id:
          type: integer
          format: int64
          example: 9999
        email:
          type: string
          format: email
          nullable: true
          description: Email address
          example: user@example.com
        username:
          type: string
          nullable: true
          description: Username for login
          example: johndoe
    AccountSettings:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 2222
        account_settings_locale:
          type: object
          properties:
            id:
              type: integer
            locale:
              type: string
              example: en
        account_settings_notification:
          $ref: "#/components/schemas/AccountSettingsNotification"
    AccountSettingsNotification:
      type: object
      properties:
        id:
          type: integer
          format: int64
        account_settings_notification_types:
          type: array
          items:
            $ref: "#/components/schemas/AccountSettingsNotificationType"
    AccountSettingsNotificationType:
      type: object
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
          description: Notification type
          enum:
            - new-item
            - livestream-scheduled
            - livestream-started
          example: new-item
    AccountMembershipStatus:
      type: object
      description: Current membership subscription status
      properties:
        id:
          type: integer
          format: int64
        membership_expires_at:
          type: string
          format: date-time
          nullable: true
          description: When current membership subscription expires
          example: "2024-12-31T23:59:59Z"
        auto_renew:
          type: boolean
          description: Whether subscription auto-renews
          example: true
        auto_renew_mode:
          type: boolean
          enum:
            - false
            - true
          example: true
        billing_cadence:
          type: string
          nullable: true
          description: Billing period
          example: monthly
        allow_directory_add_by_rss:
          type: boolean
          nullable: true
          description: Whether user can add RSS feeds to directory
          example: true
        max_add_by_rss_feeds:
          type: integer
          nullable: true
          description: Maximum number of Add-by-RSS feeds allowed
          example: 100
        allow_notifications:
          type: boolean
          nullable: true
          description: Whether user can use notifications
          example: true
        track_stats:
          type: boolean
          nullable: true
          description: Whether user has access to stats tracking
          example: true
    AccountNotificationChannel:
      type: object
      properties:
        id:
          type: integer
          format: int64
        channel_id:
          type: integer
          format: int64
          description: ID of the channel this notification is for
        account_notification_channel_types:
          type: array
          items:
            $ref: "#/components/schemas/AccountNotificationChannelType"
    AccountNotificationChannelType:
      type: object
      properties:
        id:
          type: integer
          format: int64
        type:
          type: string
          enum:
            - new-item
            - livestream-scheduled
            - livestream-started
          example: new-item
    EmptyResponse:
      type: object
      properties:
        message:
          type: string
          description: Success confirmation message
          example: Operation completed successfully
    ValidationErrorResponse:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - type: object
          properties:
            message:
              type: string
              description: Error description
              example: 'email: "must be a valid email"'
            code:
              type: string
              example: validation_error
    AuthenticationErrorResponse:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - type: object
          properties:
            message:
              type: string
              description: Authentication failure reason
              example: Unauthorized
            code:
              type: string
              example: unauthorized
    AuthorizationErrorResponse:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - type: object
          properties:
            message:
              type: string
              description: Authorization failure reason
              example: Email verification flows are not available
            code:
              type: string
              description: Machine-readable error code
              example: email_verification_unavailable
    NotFoundErrorResponse:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - type: object
          properties:
            message:
              type: string
              description: Resource not found
              example: Account not found
            code:
              type: string
              example: not_found
    InternalServerErrorResponse:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - type: object
          properties:
            message:
              type: string
              example: Internal server error
            code:
              type: string
              example: internal_server_error
    ApiPatchAccountSettingsLocaleRequest:
      type: object
      required:
        - locale
      properties:
        locale:
          type: string
          description: Locale code for account settings
          example: en-US
    ApiPatchAccountSettingsLocaleResponse200:
      type: object
      properties:
        data:
          type: object
          required:
            - id
            - account_settings_id
            - locale
          properties:
            id:
              type: integer
              format: int64
            account_settings_id:
              type: integer
              format: int64
            locale:
              type: string
              example: en-US
    ApiDeleteAccountSettingsNotificationTypeResponse200:
      type: object
      properties:
        message:
          type: string
          example: Deleted
    ApiPostAccountSettingsNotificationTypeRequest:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - new-item
            - livestream-scheduled
            - livestream-started
          example: new-item
    ApiPostAccountSettingsNotificationTypeResponse200:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/AccountSettingsNotificationType"
    ApiPostAccountAddByRssChaptersTranscriptRequest:
      type: object
      description: Operation-specific request payload for POST /account/add-by-rss/chapters-transcript.
      additionalProperties: true
    ApiPostAccountAddByRssChaptersTranscriptResponse200:
      type: object
      description: Operation-specific response payload for POST /account/add-by-rss/chapters-transcript (200).
      additionalProperties: true
    ApiPostAccountAddByRssParseRequest:
      type: object
      description: Operation-specific request payload for POST /account/add-by-rss/parse.
      additionalProperties: true
    ApiPostAccountAddByRssParseResponse200:
      type: object
      description: Operation-specific response payload for POST /account/add-by-rss/parse (200).
      additionalProperties: true
    ApiPostAccountAddByRssParseAllRequest:
      type: object
      description: Operation-specific request payload for POST /account/add-by-rss/parse/all.
      additionalProperties: true
    ApiPostAccountAddByRssParseAllResponse200:
      type: object
      description: Operation-specific response payload for POST /account/add-by-rss/parse/all (200).
      additionalProperties: true
    ApiGetAccountAddByRssParseStatusRequestIdResponse200:
      type: object
      description: Operation-specific response payload for GET /account/add-by-rss/parse/status/{request_id} (200).
      additionalProperties: true
    ApiGetAccountDownloadDataResponse200:
      type: object
      description: Operation-specific response payload for GET /account/download-data (200).
      additionalProperties: true
    ApiGetAccountFcmDeviceAllForAccountResponse200:
      type: object
      description: Operation-specific response payload for GET /account/fcm-device/all-for-account (200).
      additionalProperties: true
    ApiPostAccountFcmDeviceCreateRequest:
      type: object
      description: Operation-specific request payload for POST /account/fcm-device/create.
      additionalProperties: true
    ApiPostAccountFcmDeviceCreateResponse200:
      type: object
      description: Operation-specific response payload for POST /account/fcm-device/create (200).
      additionalProperties: true
    ApiDeleteAccountFcmDeviceDeleteResponse200:
      type: object
      description: Operation-specific response payload for DELETE /account/fcm-device/delete (200).
      additionalProperties: true
    ApiPutAccountFcmDeviceUpdateRequest:
      type: object
      description: Operation-specific request payload for PUT /account/fcm-device/update.
      additionalProperties: true
    ApiPutAccountFcmDeviceUpdateResponse200:
      type: object
      description: Operation-specific response payload for PUT /account/fcm-device/update (200).
      additionalProperties: true
    ApiPutAccountFcmDeviceUpdateLocaleRequest:
      type: object
      description: Operation-specific request payload for PUT /account/fcm-device/update-locale.
      additionalProperties: true
    ApiPutAccountFcmDeviceUpdateLocaleResponse200:
      type: object
      description: Operation-specific response payload for PUT /account/fcm-device/update-locale (200).
      additionalProperties: true
    ApiPostAccountFollowAccountRequest:
      type: object
      required:
        - following_account_id_text
      properties:
        following_account_id_text:
          type: string
    ApiPostAccountFollowAccountResponse200:
      allOf:
        - $ref: "#/components/schemas/MessageResponse"
    ApiPostAccountFollowAddByRssChannelRequest:
      type: object
      required:
        - feed_url
      properties:
        feed_url:
          type: string
          format: uri
        title:
          type: string
          nullable: true
        image_url:
          type: string
          format: uri
          nullable: true
        basic_auth_username:
          type: string
          nullable: true
          maxLength: 255
        basic_auth_password:
          type: string
          nullable: true
          maxLength: 255
    ApiPostAccountFollowAddByRssChannelResponse200:
      allOf:
        - $ref: "#/components/schemas/MessageResponse"
    ApiGetAccountFollowAddByRssChannelAccountIdTextResponse200:
      type: array
      items:
        $ref: "#/components/schemas/AccountFollowingAddByRSSChannel"
    ApiPostAccountFollowChannelRequest:
      type: object
      required:
        - channel_id_text
      properties:
        channel_id_text:
          type: string
    ApiPostAccountFollowChannelResponse200:
      allOf:
        - $ref: "#/components/schemas/MessageResponse"
    ApiPostAccountFollowPlaylistRequest:
      type: object
      required:
        - playlist_id_text
      properties:
        playlist_id_text:
          type: string
    ApiPostAccountFollowPlaylistResponse200:
      allOf:
        - $ref: "#/components/schemas/MessageResponse"
    ApiPostAccountNotificationChannelRequest:
      type: object
      required:
        - channel_id_text
      properties:
        channel_id_text:
          type: string
          description: Channel id_text to receive notifications for
          example: channel-abc123
    ApiPostAccountNotificationChannelResponse200:
      type: object
      allOf:
        - $ref: "#/components/schemas/AccountNotificationChannel"
    ApiGetAccountNotificationChannelChannelIdTextResponse200:
      type: object
      allOf:
        - $ref: "#/components/schemas/AccountNotificationChannel"
    ApiPostAccountNotificationChannelTypeRequest:
      type: object
      required:
        - channel_id_text
        - type
      properties:
        channel_id_text:
          type: string
          description: Channel id_text associated with the notification channel
          example: channel-abc123
        type:
          type: string
          enum:
            - new-item
            - livestream-scheduled
            - livestream-started
          example: new-item
    ApiPostAccountNotificationChannelTypeResponse200:
      type: object
      allOf:
        - $ref: "#/components/schemas/AccountNotificationChannelType"
    ApiGetAccountNotificationChannelsResponse200:
      type: array
      items:
        $ref: "#/components/schemas/AccountNotificationChannel"
    ApiGetAccountRecentResponse200:
      type: object
      description: Operation-specific response payload for GET /account/recent (200).
      additionalProperties: true
    ApiPostAccountResetPasswordRequest:
      type: object
      required:
        - token
        - password
      properties:
        token:
          type: string
          description: Reset password token received by email
          example: 8bf8d9f4-4c3d-40ea-a71e-f4db66bcbfc4
        password:
          type: string
          format: password
          minLength: 8
          description: New account password
          example: mySecurePassword123
    ApiPostAccountResetPasswordResponse200:
      type: object
      properties:
        message:
          type: string
          example: Password reset successfully
    ApiPostAccountSendChangeEmailAddressEmailRequest:
      type: object
      required:
        - new_email
      properties:
        new_email:
          type: string
          format: email
          description: Email address to set after verification
          example: updated@example.com
    ApiPostAccountSendChangeEmailAddressEmailResponse200:
      type: object
      properties:
        message:
          type: string
          example: Email change verification email sent
    ApiPostAccountSendResetPasswordEmailRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          description: Account email to send a reset token to
          example: user@example.com
    ApiPostAccountSendResetPasswordEmailResponse200:
      type: object
      properties:
        message:
          type: string
          example: Reset password email sent
    ApiPostAccountSendVerificationEmailRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          description: Account email to verify
          example: user@example.com
    ApiPostAccountSendVerificationEmailResponse200:
      type: object
      properties:
        message:
          type: string
          example: Verification email sent
    ApiPostAccountSetPasswordRequest:
      type: object
      required:
        - token
        - password
      properties:
        token:
          type: string
          description: One-time account setup token
          example: 8bf8d9f4-4c3d-40ea-a71e-f4db66bcbfc4
        password:
          type: string
          format: password
          minLength: 8
          description: Password to set for the account
          example: mySecurePassword123
        email:
          type: string
          format: email
          description: Optional email when signup mode requires setting one during invite completion
          example: invited-user@example.com
    ApiPostAccountSetPasswordResponse200:
      type: object
      properties:
        message:
          type: string
          example: Password set successfully
    ApiGetAccountSubscribedAzResponse200:
      type: object
      description: Operation-specific response payload for GET /account/subscribed/az (200).
      additionalProperties: true
    ApiGetAccountSubscribedRecentResponse200:
      type: object
      description: Operation-specific response payload for GET /account/subscribed/recent (200).
      additionalProperties: true
    ApiGetAccountSubscribedTopResponse200:
      type: object
      description: Operation-specific response payload for GET /account/subscribed/top (200).
      additionalProperties: true
    ApiGetAccountTopResponse200:
      type: object
      description: Operation-specific response payload for GET /account/top (200).
      additionalProperties: true
    ApiPostAccountUnfollowAccountRequest:
      type: object
      required:
        - following_account_id_text
      properties:
        following_account_id_text:
          type: string
    ApiPostAccountUnfollowAddByRssChannelRequest:
      type: object
      required:
        - feed_url
      properties:
        feed_url:
          type: string
          format: uri
    ApiPostAccountUnfollowChannelRequest:
      type: object
      required:
        - channel_id_text
      properties:
        channel_id_text:
          type: string
    ApiPostAccountUnfollowPlaylistRequest:
      type: object
      required:
        - playlist_id_text
      properties:
        playlist_id_text:
          type: string
    ApiPostAccountUpDeviceCreateRequest:
      type: object
      description: Operation-specific request payload for POST /account/up-device/create.
      additionalProperties: true
    ApiPostAccountUpDeviceCreateResponse200:
      type: object
      description: Operation-specific response payload for POST /account/up-device/create (200).
      additionalProperties: true
    ApiDeleteAccountUpDeviceDeleteResponse200:
      type: object
      description: Operation-specific response payload for DELETE /account/up-device/delete (200).
      additionalProperties: true
    ApiDeleteAccountUpDeviceDeleteAllResponse200:
      type: object
      description: Operation-specific response payload for DELETE /account/up-device/delete-all (200).
      additionalProperties: true
    ApiGetAccountUpDeviceForAccountResponse200:
      type: object
      description: Operation-specific response payload for GET /account/up-device/for-account (200).
      additionalProperties: true
    ApiPutAccountUpDeviceUpdateRequest:
      type: object
      description: Operation-specific request payload for PUT /account/up-device/update.
      additionalProperties: true
    ApiPutAccountUpDeviceUpdateResponse200:
      type: object
      description: Operation-specific response payload for PUT /account/up-device/update (200).
      additionalProperties: true
    ApiPutAccountUpDeviceUpdateLocaleRequest:
      type: object
      description: Operation-specific request payload for PUT /account/up-device/update-locale.
      additionalProperties: true
    ApiPutAccountUpDeviceUpdateLocaleResponse200:
      type: object
      description: Operation-specific response payload for PUT /account/up-device/update-locale (200).
      additionalProperties: true
    ApiPostAccountVerifyEmailRequest:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          description: Email verification token
          example: 8bf8d9f4-4c3d-40ea-a71e-f4db66bcbfc4
    ApiPostAccountVerifyEmailResponse200:
      type: object
      properties:
        message:
          type: string
          example: Email verified successfully
    ApiPostAccountVerifyEmailChangeRequest:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          description: Email change verification token
          example: 8bf8d9f4-4c3d-40ea-a71e-f4db66bcbfc4
    ApiPostAccountVerifyEmailChangeResponse200:
      type: object
      properties:
        message:
          type: string
          example: Email change verified successfully
    ApiGetAccountWebpushDeviceAllForAccountResponse200:
      type: object
      description: Operation-specific response payload for GET /account/webpush-device/all-for-account (200).
      additionalProperties: true
    ApiPostAccountWebpushDeviceCreateRequest:
      type: object
      description: Operation-specific request payload for POST /account/webpush-device/create.
      additionalProperties: true
    ApiPostAccountWebpushDeviceCreateResponse200:
      type: object
      description: Operation-specific response payload for POST /account/webpush-device/create (200).
      additionalProperties: true
    ApiDeleteAccountWebpushDeviceDeleteResponse200:
      type: object
      description: Operation-specific response payload for DELETE /account/webpush-device/delete (200).
      additionalProperties: true
    ApiPutAccountWebpushDeviceUpdateRequest:
      type: object
      description: Operation-specific request payload for PUT /account/webpush-device/update.
      additionalProperties: true
    ApiPutAccountWebpushDeviceUpdateResponse200:
      type: object
      description: Operation-specific response payload for PUT /account/webpush-device/update (200).
      additionalProperties: true
    ApiPutAccountWebpushDeviceUpdateLocaleRequest:
      type: object
      description: Operation-specific request payload for PUT /account/webpush-device/update-locale.
      additionalProperties: true
    ApiPutAccountWebpushDeviceUpdateLocaleResponse200:
      type: object
      description: Operation-specific response payload for PUT /account/webpush-device/update-locale (200).
      additionalProperties: true
    ApiGetChannelIdoridtextResponse200:
      allOf:
        - $ref: "#/components/schemas/ChannelDetailResponse"
    ApiGetChannelCategoryRecentResponse200:
      allOf:
        - $ref: "#/components/schemas/ChannelListResponse"
    ApiGetChannelCategoryTopResponse200:
      allOf:
        - $ref: "#/components/schemas/ChannelListResponse"
    ApiGetChannelPodcastIndexPodcastIndexIdResponse200:
      allOf:
        - $ref: "#/components/schemas/ChannelDetailResponse"
      nullable: true
    ApiGetClipPublicCategoryOldestResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetClipPublicCategoryRecentResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetClipPublicCategoryTopResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetClipPublicChannelOldestChannelIdTextResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetClipPublicChannelRecentChannelIdTextResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetClipPublicChannelTopChannelIdTextResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetClipPublicItemOldestItemIdTextResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetClipPublicItemRecentItemIdTextResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetClipPublicItemTopItemIdTextResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetClipPublicOldestResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetClipPublicRecentResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetClipPublicSubscribedRecentResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetClipPublicSubscribedTopResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetClipPublicTopResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetExternalServicesPodcastIndexFeedPodcastIndexIdResponse200:
      type: object
      description: Operation-specific response payload for GET /external-services/podcast-index/feed/{podcast_index_id} (200).
      additionalProperties: true
    ApiGetExternalServicesPodcastIndexSearchPodcastsResponse200:
      type: object
      description: Operation-specific response payload for GET /external-services/podcast-index/search/podcasts (200).
      additionalProperties: true
    ApiGetItemChapterItemChapterIdTextResponse200:
      type: object
      description: Operation-specific response payload for GET /item-chapter/{item_chapter_id_text} (200).
      additionalProperties: true
    ApiGetItemSoundbiteItemSoundbiteIdTextResponse200:
      type: object
      description: Operation-specific response payload for GET /item-soundbite/{item_soundbite_id_text} (200).
      additionalProperties: true
    ApiGetItemSoundbiteChannelChannelIdTextResponse200:
      type: object
      description: Operation-specific response payload for GET /item-soundbite/channel/{channel_id_text} (200).
      additionalProperties: true
    ApiGetItemSoundbiteItemItemIdTextResponse200:
      type: object
      description: Operation-specific response payload for GET /item-soundbite/item/{item_id_text} (200).
      additionalProperties: true
    ApiGetItemTranscriptItemIdTextResponse200:
      type: object
      description: Operation-specific response payload for GET /item-transcript/{item_id_text} (200).
      additionalProperties: true
    ApiGetItemChannelSeasonBackwardChannelidoridtextResponse200:
      type: object
      description: Operation-specific response payload for GET /item/channel/season/backward/{channel_id_or_id_text} (200).
      additionalProperties: true
    ApiGetItemChannelSeasonForwardChannelidoridtextResponse200:
      type: object
      description: Operation-specific response payload for GET /item/channel/season/forward/{channel_id_or_id_text} (200).
      additionalProperties: true
    ApiGetItemChannelShuffleChannelidoridtextResponse200:
      type: object
      description: Operation-specific response payload for GET /item/channel/shuffle/{channel_id_or_id_text} (200).
      additionalProperties: true
    ApiGetItemChaptersItemIdTextResponse200:
      type: object
      description: Operation-specific response payload for GET /item/chapters/{item_id_text} (200).
      additionalProperties: true
    ApiGetItemQueuePubDateIdtextResponse200:
      type: object
      description: Operation-specific response payload for GET /item/queue/pub-date/{id_text} (200).
      additionalProperties: true
    ApiGetItemQueueSeasonIdtextResponse200:
      type: object
      description: Operation-specific response payload for GET /item/queue/season/{id_text} (200).
      additionalProperties: true
    ApiGetMediumValueResponse200:
      type: object
      description: Operation-specific response payload for GET /medium-value (200).
      additionalProperties: true
    ApiPostMembershipClaimTokenClaimTokenResponse200:
      allOf:
        - $ref: "#/components/schemas/MessageResponse"
    ApiPostMetaboostMbrssV1MintAppAssertionRequest:
      type: object
      description: Operation-specific request payload for POST /metaboost/mbrss-v1/mint-app-assertion.
      additionalProperties: true
    ApiPostMetaboostMbrssV1MintAppAssertionResponse200:
      type: object
      description: Operation-specific response payload for POST /metaboost/mbrss-v1/mint-app-assertion (200).
      additionalProperties: true
    ApiGetMetaboostMbrssV1MintAppAssertionRateLimitStatusResponse200:
      type: object
      description: Operation-specific response payload for GET /metaboost/mbrss-v1/mint-app-assertion/rate-limit-status (200).
      additionalProperties: true
    ApiPostMqRssAddOnDemandRequest:
      type: object
      description: Operation-specific request payload for POST /mq/rss/add/on-demand.
      additionalProperties: true
    ApiPostMqRssAddOnDemandResponse200:
      type: object
      description: Operation-specific response payload for POST /mq/rss/add/on-demand (200).
      additionalProperties: true
    ApiPostMqRssRefreshOnDemandRequest:
      type: object
      description: Operation-specific request payload for POST /mq/rss/refresh/on-demand.
      additionalProperties: true
    ApiPostMqRssRefreshOnDemandResponse200:
      type: object
      description: Operation-specific response payload for POST /mq/rss/refresh/on-demand (200).
      additionalProperties: true
    ApiGetPaypalPaymentIdResponse200:
      allOf:
        - $ref: "#/components/schemas/PayPalOrder"
    ApiPostPaypalCreateRequest:
      type: object
      required:
        - payment_id
        - state
      properties:
        payment_id:
          type: string
        state:
          type: string
    ApiPostPaypalCreateResponse200:
      allOf:
        - $ref: "#/components/schemas/PayPalOrder"
    ApiPostPaypalWebhooksPaymentCompletedRequest:
      type: object
      required:
        - resource
        - resource_version
      properties:
        event_version:
          type: string
        resource_version:
          type: string
        resource:
          type: object
          required:
            - id
          properties:
            id:
              type: string
            parent_payment:
              type: string
    ApiPostPaypalWebhooksPaymentCompletedResponse200:
      allOf:
        - $ref: "#/components/schemas/MessageResponse"
    ApiPostPlaylistResponse200:
      type: object
      description: Operation-specific response payload for POST /playlist (200).
      additionalProperties: true
    ApiDeletePlaylistPlaylistIdTextResponse200:
      type: object
      description: Operation-specific response payload for DELETE /playlist/{playlist_id_text} (200).
      additionalProperties: true
    ApiGetPlaylistPlaylistIdTextResponse200:
      type: object
      description: Operation-specific response payload for GET /playlist/{playlist_id_text} (200).
      additionalProperties: true
    ApiPatchPlaylistPlaylistIdTextRequest:
      type: object
      description: Operation-specific request payload for PATCH /playlist/{playlist_id_text}.
      additionalProperties: true
    ApiPatchPlaylistPlaylistIdTextResponse200:
      type: object
      description: Operation-specific response payload for PATCH /playlist/{playlist_id_text} (200).
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextClipClipIdTextBetweenRequest:
      allOf:
        - $ref: "#/components/schemas/PositionBetweenRequest"
    ApiPostPlaylistPlaylistIdTextClipClipIdTextBetweenResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistResourceActionResponse"
    ApiPostPlaylistPlaylistIdTextClipClipIdTextFirstResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistResourceActionResponse"
    ApiPostPlaylistPlaylistIdTextClipClipIdTextLastResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistResourceActionResponse"
    ApiDeletePlaylistPlaylistIdTextItemAddByRssAddByRssHashIdResponse200:
      type: object
      description: Operation-specific response payload for DELETE /playlist/{playlist_id_text}/item-add-by-rss/{add_by_rss_hash_id} (200).
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemAddByRssBetweenRequest:
      type: object
      description: Operation-specific request payload for POST /playlist/{playlist_id_text}/item-add-by-rss/between.
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemAddByRssBetweenResponse200:
      type: object
      description: Operation-specific response payload for POST /playlist/{playlist_id_text}/item-add-by-rss/between (200).
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemAddByRssFirstRequest:
      type: object
      description: Operation-specific request payload for POST /playlist/{playlist_id_text}/item-add-by-rss/first.
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemAddByRssFirstResponse200:
      type: object
      description: Operation-specific response payload for POST /playlist/{playlist_id_text}/item-add-by-rss/first (200).
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemAddByRssLastRequest:
      type: object
      description: Operation-specific request payload for POST /playlist/{playlist_id_text}/item-add-by-rss/last.
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemAddByRssLastResponse200:
      type: object
      description: Operation-specific response payload for POST /playlist/{playlist_id_text}/item-add-by-rss/last (200).
      additionalProperties: true
    ApiDeletePlaylistPlaylistIdTextItemSoundbiteSoundbiteIdTextResponse200:
      type: object
      description: Operation-specific response payload for DELETE /playlist/{playlist_id_text}/item-soundbite/{soundbite_id_text} (200).
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemSoundbiteSoundbiteIdTextBetweenRequest:
      type: object
      description: Operation-specific request payload for POST /playlist/{playlist_id_text}/item-soundbite/{soundbite_id_text}/between.
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemSoundbiteSoundbiteIdTextBetweenResponse200:
      type: object
      description: Operation-specific response payload for POST /playlist/{playlist_id_text}/item-soundbite/{soundbite_id_text}/between (200).
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemSoundbiteSoundbiteIdTextFirstRequest:
      type: object
      description: Operation-specific request payload for POST /playlist/{playlist_id_text}/item-soundbite/{soundbite_id_text}/first.
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemSoundbiteSoundbiteIdTextFirstResponse200:
      type: object
      description: Operation-specific response payload for POST /playlist/{playlist_id_text}/item-soundbite/{soundbite_id_text}/first (200).
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemSoundbiteSoundbiteIdTextLastRequest:
      type: object
      description: Operation-specific request payload for POST /playlist/{playlist_id_text}/item-soundbite/{soundbite_id_text}/last.
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemSoundbiteSoundbiteIdTextLastResponse200:
      type: object
      description: Operation-specific response payload for POST /playlist/{playlist_id_text}/item-soundbite/{soundbite_id_text}/last (200).
      additionalProperties: true
    ApiDeletePlaylistPlaylistIdTextItemItemIdTextResponse200:
      type: object
      description: Operation-specific response payload for DELETE /playlist/{playlist_id_text}/item/{item_id_text} (200).
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemItemIdTextBetweenRequest:
      type: object
      description: Operation-specific request payload for POST /playlist/{playlist_id_text}/item/{item_id_text}/between.
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemItemIdTextBetweenResponse200:
      type: object
      description: Operation-specific response payload for POST /playlist/{playlist_id_text}/item/{item_id_text}/between (200).
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemItemIdTextFirstRequest:
      type: object
      description: Operation-specific request payload for POST /playlist/{playlist_id_text}/item/{item_id_text}/first.
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemItemIdTextFirstResponse200:
      type: object
      description: Operation-specific response payload for POST /playlist/{playlist_id_text}/item/{item_id_text}/first (200).
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemItemIdTextLastRequest:
      type: object
      description: Operation-specific request payload for POST /playlist/{playlist_id_text}/item/{item_id_text}/last.
      additionalProperties: true
    ApiPostPlaylistPlaylistIdTextItemItemIdTextLastResponse200:
      type: object
      description: Operation-specific response payload for POST /playlist/{playlist_id_text}/item/{item_id_text}/last (200).
      additionalProperties: true
    ApiGetPlaylistPlaylistIdTextResourcesResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistResourceListResponse"
    ApiGetPlaylistPlaylistIdTextResourcesPrivateAllResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistResourceArrayResponse"
    ApiGetPlaylistPlaylistIdTextResourcesQueueByListPositionResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistResourceQueueWindowResponse"
    ApiGetPlaylistPlaylistIdTextResourcesShuffleResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistResourceListResponse"
    ApiGetPlaylistPrivateAzResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistListResponse"
    ApiGetPlaylistPrivateFollowedAzResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistListResponse"
    ApiGetPlaylistPrivateFollowedOldestResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistListResponse"
    ApiGetPlaylistPrivateFollowedRecentResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistListResponse"
    ApiGetPlaylistPrivateFollowedTopResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistListResponse"
    ApiGetPlaylistPrivateLikesResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistLikesResponse"
    ApiPostPlaylistPrivateLikesMembershipRequest:
      allOf:
        - $ref: "#/components/schemas/PlaylistLikesMembershipRequest"
    ApiPostPlaylistPrivateLikesMembershipResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistLikesMembershipResponse"
    ApiPostPlaylistPrivateLikesToggleRequest:
      allOf:
        - $ref: "#/components/schemas/PlaylistLikeToggleRequest"
    ApiPostPlaylistPrivateLikesToggleResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistLikeToggleResponse"
    ApiGetPlaylistPrivateOldestResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistListResponse"
    ApiGetPlaylistPrivateRecentResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistListResponse"
    ApiGetPlaylistPrivateTopResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistListResponse"
    ApiGetPlaylistPublicTopResponse200:
      type: object
      description: Operation-specific response payload for GET /playlist/public/top (200).
      additionalProperties: true
    ApiGetPodrollChannelIdoridtextResponse200:
      allOf:
        - $ref: "#/components/schemas/RemoteItemsResultResponse"
    ApiGetProfileAccountIdTextAlbumsAzResponse200:
      allOf:
        - $ref: "#/components/schemas/ChannelListResponse"
    ApiGetProfileAccountIdTextClipsRecentResponse200:
      allOf:
        - $ref: "#/components/schemas/ClipListResponse"
    ApiGetProfileAccountIdTextPlaylistsAzResponse200:
      allOf:
        - $ref: "#/components/schemas/PlaylistListResponse"
    ApiGetProfileAccountIdTextPodcastsAzResponse200:
      allOf:
        - $ref: "#/components/schemas/ChannelListResponse"
    ApiGetPublisherFeedChannelIdoridtextResponse200:
      allOf:
        - $ref: "#/components/schemas/PublisherFeedRemoteItemsResponse"
    ApiPostQueueQueueIdTextClipClipIdTextBetweenRequest:
      allOf:
        - $ref: "#/components/schemas/PositionBetweenRequest"
    ApiPostQueueQueueIdTextClipClipIdTextBetweenResponse200:
      allOf:
        - $ref: "#/components/schemas/QueueResourceActionResponse"
    ApiPostQueueQueueIdTextClipClipIdTextHistoryRequest:
      allOf:
        - $ref: "#/components/schemas/QueueResourceNowPlayingRequest"
    ApiPostQueueQueueIdTextClipClipIdTextHistoryResponse200:
      allOf:
        - $ref: "#/components/schemas/QueueResourceActionResponse"
    ApiPostQueueQueueIdTextClipClipIdTextLastResponse200:
      allOf:
        - $ref: "#/components/schemas/QueueResourceActionResponse"
    ApiPostQueueQueueIdTextClipClipIdTextNextResponse200:
      allOf:
        - $ref: "#/components/schemas/QueueResourceActionResponse"
    ApiPostQueueQueueIdTextClipClipIdTextNowPlayingRequest:
      allOf:
        - $ref: "#/components/schemas/QueueResourceNowPlayingRequest"
    ApiPostQueueQueueIdTextClipClipIdTextNowPlayingResponse200:
      allOf:
        - $ref: "#/components/schemas/QueueResourceActionResponse"
    ApiDeleteQueueQueueIdTextItemAddByRssAddByRssHashIdResponse200:
      type: object
      description: Operation-specific response payload for DELETE /queue/{queue_id_text}/item-add-by-rss/{add_by_rss_hash_id} (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemAddByRssBetweenRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item-add-by-rss/between.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemAddByRssBetweenResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item-add-by-rss/between (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemAddByRssHistoryRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item-add-by-rss/history.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemAddByRssHistoryResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item-add-by-rss/history (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemAddByRssLastRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item-add-by-rss/last.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemAddByRssLastResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item-add-by-rss/last (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemAddByRssNextRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item-add-by-rss/next.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemAddByRssNextResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item-add-by-rss/next (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemAddByRssNowPlayingRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item-add-by-rss/now-playing.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemAddByRssNowPlayingResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item-add-by-rss/now-playing (200).
      additionalProperties: true
    ApiDeleteQueueQueueIdTextItemSoundbiteItemSoundbiteIdTextResponse200:
      type: object
      description: Operation-specific response payload for DELETE /queue/{queue_id_text}/item-soundbite/{item_soundbite_id_text} (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemSoundbiteItemSoundbiteIdTextBetweenRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item-soundbite/{item_soundbite_id_text}/between.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemSoundbiteItemSoundbiteIdTextBetweenResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item-soundbite/{item_soundbite_id_text}/between (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemSoundbiteItemSoundbiteIdTextHistoryRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item-soundbite/{item_soundbite_id_text}/history.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemSoundbiteItemSoundbiteIdTextHistoryResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item-soundbite/{item_soundbite_id_text}/history (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemSoundbiteItemSoundbiteIdTextLastRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item-soundbite/{item_soundbite_id_text}/last.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemSoundbiteItemSoundbiteIdTextLastResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item-soundbite/{item_soundbite_id_text}/last (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemSoundbiteItemSoundbiteIdTextNextRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item-soundbite/{item_soundbite_id_text}/next.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemSoundbiteItemSoundbiteIdTextNextResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item-soundbite/{item_soundbite_id_text}/next (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemSoundbiteItemSoundbiteIdTextNowPlayingRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item-soundbite/{item_soundbite_id_text}/now-playing.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemSoundbiteItemSoundbiteIdTextNowPlayingResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item-soundbite/{item_soundbite_id_text}/now-playing (200).
      additionalProperties: true
    ApiDeleteQueueQueueIdTextItemItemIdTextResponse200:
      type: object
      description: Operation-specific response payload for DELETE /queue/{queue_id_text}/item/{item_id_text} (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemItemIdTextBetweenRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item/{item_id_text}/between.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemItemIdTextBetweenResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item/{item_id_text}/between (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemItemIdTextHistoryRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item/{item_id_text}/history.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemItemIdTextHistoryResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item/{item_id_text}/history (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemItemIdTextLastRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item/{item_id_text}/last.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemItemIdTextLastResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item/{item_id_text}/last (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemItemIdTextNextRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item/{item_id_text}/next.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemItemIdTextNextResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item/{item_id_text}/next (200).
      additionalProperties: true
    ApiPostQueueQueueIdTextItemItemIdTextNowPlayingRequest:
      type: object
      description: Operation-specific request payload for POST /queue/{queue_id_text}/item/{item_id_text}/now-playing.
      additionalProperties: true
    ApiPostQueueQueueIdTextItemItemIdTextNowPlayingResponse200:
      type: object
      description: Operation-specific response payload for POST /queue/{queue_id_text}/item/{item_id_text}/now-playing (200).
      additionalProperties: true
    ApiGetQueueQueueIdTextResourcesHistoryPaginatedResponse200:
      allOf:
        - $ref: "#/components/schemas/QueueResourceListResponse"
    ApiGetQueueQueueIdTextResourcesNowPlayingResponse200:
      allOf:
        - $ref: "#/components/schemas/QueueResourceNullableResponse"
    ApiGetQueueQueueIdTextResourcesUpcomingAllResponse200:
      allOf:
        - $ref: "#/components/schemas/QueueResourceArrayResponse"
    ApiPostQueueQueueIdTextUpdateIsActiveRequest:
      type: object
      required:
        - is_active_queue
      properties:
        is_active_queue:
          type: boolean
    ApiPostQueueQueueIdTextUpdateIsActiveResponse200:
      allOf:
        - $ref: "#/components/schemas/MessageResponse"
    ApiGetQueueAllForAccountPrivateResponse200:
      allOf:
        - $ref: "#/components/schemas/QueueArrayResponse"
    ApiGetQueueResourcesAllByAccountAbridgedResponse200:
      allOf:
        - $ref: "#/components/schemas/QueueResourceAbridgedResponse"
    ApiPostStatsAccountRequest:
      type: object
      required:
        - account_id_text
      properties:
        account_id_text:
          type: string
    ApiPostStatsAccountResponse200:
      allOf:
        - $ref: "#/components/schemas/MessageResponse"
    ApiPostStatsChannelRequest:
      type: object
      required:
        - channel_id_text
      properties:
        channel_id_text:
          type: string
    ApiPostStatsChannelResponse200:
      allOf:
        - $ref: "#/components/schemas/MessageResponse"
    ApiPostStatsItemRequest:
      type: object
      required:
        - item_id_text
      properties:
        item_id_text:
          type: string
    ApiPostStatsItemResponse200:
      allOf:
        - $ref: "#/components/schemas/MessageResponse"
    ApiPostStatsPlaylistRequest:
      type: object
      required:
        - playlist_id_text
      properties:
        playlist_id_text:
          type: string
    ApiPostStatsPlaylistResponse200:
      allOf:
        - $ref: "#/components/schemas/MessageResponse"
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
          nullable: true
    PaginationMeta:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          description: 1-based page number for list responses.
        limit:
          type: integer
          minimum: 1
          description: Maximum number of items requested per page.
    ListMeta:
      allOf:
        - $ref: "#/components/schemas/PaginationMeta"
        - type: object
          properties:
            count:
              type: integer
              nullable: true
              description: Optional total count for the current list context.
            offset:
              type: integer
              nullable: true
              description: Optional zero-based offset for clients using offset semantics.
    CategoryListResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Category"
    CategoryDetailResponse:
      allOf:
        - $ref: "#/components/schemas/Category"
    Channel:
      type: object
      properties:
        id:
          type: integer
          format: int64
        id_text:
          type: string
        title:
          type: string
          nullable: true
        sortable_title:
          type: string
          nullable: true
        podcast_index_id:
          type: integer
          nullable: true
        medium_id:
          type: integer
          nullable: true
    ChannelListResponse:
      type: object
      required:
        - data
        - meta
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Channel"
        meta:
          $ref: "#/components/schemas/ListMeta"
    ChannelDetailResponse:
      allOf:
        - $ref: "#/components/schemas/Channel"
    Feed:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        url:
          type: string
          format: uri
        podcast_index_id:
          type: integer
          minimum: 1
        parsing_priority:
          type: integer
        is_parsing:
          type: string
          format: date-time
          nullable: true
        container_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        channel:
          $ref: "#/components/schemas/Channel"
    FeedLookupResponse:
      allOf:
        - $ref: "#/components/schemas/Feed"
      nullable: true
    LiveItemStatus:
      type: object
      properties:
        id:
          type: integer
          enum:
            - 1
            - 2
            - 3
        status:
          type: string
          enum:
            - pending
            - live
            - ended
      example:
        id: 2
        status: live
    LiveItem:
      type: object
      properties:
        id:
          type: integer
        item_id:
          type: integer
        live_item_status_id:
          type: integer
          enum:
            - 1
            - 2
            - 3
        live_item_status:
          $ref: "#/components/schemas/LiveItemStatus"
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
          nullable: true
        chat_web_url:
          type: string
          format: uri
          nullable: true
      example:
        id: 44
        item_id: 120044
        live_item_status_id: 2
        live_item_status:
          id: 2
          status: live
        start_time: 2026-01-10T18:00:00Z
        end_time: null
        chat_web_url: https://chat.example.com/rooms/live-44
    Item:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        id_text:
          type: string
        channel_id:
          type: string
        slug:
          type: string
          nullable: true
        guid:
          type: string
          nullable: true
        guid_enclosure_url:
          type: string
          format: uri
          nullable: true
        title:
          type: string
          nullable: true
        pub_date:
          type: string
          format: date-time
          nullable: true
        live_item:
          $ref: "#/components/schemas/LiveItem"
        channel:
          $ref: "#/components/schemas/Channel"
    ItemListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Item"
        meta:
          $ref: "#/components/schemas/ListMeta"
    ItemDetailResponse:
      allOf:
        - $ref: "#/components/schemas/Item"
    LiveItemChannelResponse:
      type: array
      items:
        $ref: "#/components/schemas/Item"
    Clip:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        id_text:
          type: string
        item_id:
          type: string
        start_time:
          type: number
          minimum: 0
        end_time:
          type: number
          minimum: 0
          nullable: true
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        sharable_status_id:
          type: integer
          nullable: true
        created_at:
          type: string
          format: date-time
        item:
          $ref: "#/components/schemas/Item"
    ClipCreateRequest:
      type: object
      required:
        - start_time
        - item_id_text
        - sharable_status_id
      properties:
        start_time:
          type: number
          minimum: 0
        end_time:
          type: number
          minimum: 0
          nullable: true
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        item_id_text:
          type: string
        sharable_status_id:
          type: integer
          minimum: 1
    ClipUpdateRequest:
      type: object
      required:
        - start_time
        - item_id_text
        - sharable_status_id
      properties:
        start_time:
          type: number
          minimum: 0
        end_time:
          type: number
          minimum: 0
          nullable: true
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        item_id_text:
          type: string
        sharable_status_id:
          type: integer
          minimum: 1
    ClipResponse:
      allOf:
        - $ref: "#/components/schemas/Clip"
    ClipListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Clip"
        meta:
          $ref: "#/components/schemas/ListMeta"
    ClipArrayResponse:
      type: array
      items:
        $ref: "#/components/schemas/Clip"
    PositionBetweenRequest:
      type: object
      required:
        - position1
        - position2
      properties:
        position1:
          type: number
          minimum: 0
        position2:
          type: number
          minimum: 0
    QueueResourceNowPlayingRequest:
      type: object
      properties:
        playback_position:
          type: number
          minimum: 0
        media_file_duration:
          type: number
          minimum: 0
        completed:
          type: boolean
    PlaylistResourceActionResponse:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        playlist_id:
          type: string
        clip_id:
          type: string
        list_position:
          type: string
    QueueResourceActionResponse:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        queue_id:
          type: string
        clip_id:
          type: string
        list_position:
          type: string
        playback_position:
          type: string
        media_file_duration:
          type: string
        completed:
          type: boolean
    Playlist:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        id_text:
          type: string
        title:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        is_default_likes:
          type: boolean
        item_count:
          type: integer
        medium_id:
          type: integer
          nullable: true
        sharable_status_id:
          type: integer
          nullable: true
        last_updated:
          type: string
          format: date-time
    PlaylistListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Playlist"
        meta:
          $ref: "#/components/schemas/ListMeta"
    PlaylistResource:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        list_position:
          type: string
        clip_id:
          type: string
          nullable: true
        item_id:
          type: string
          nullable: true
        item_soundbite_id:
          type: integer
          nullable: true
        add_by_rss_hash_id:
          type: string
          nullable: true
        add_by_rss_resource_data:
          type: object
          nullable: true
        clip:
          $ref: "#/components/schemas/Clip"
        item:
          $ref: "#/components/schemas/Item"
    PlaylistResourceListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PlaylistResource"
        meta:
          $ref: "#/components/schemas/ListMeta"
    PlaylistResourceArrayResponse:
      type: array
      items:
        $ref: "#/components/schemas/PlaylistResource"
    PlaylistResourceQueueWindowResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/PlaylistResource"
    PlaylistLikesMembershipRequest:
      type: object
      properties:
        item_id_texts:
          type: array
          items:
            type: string
        clip_id_texts:
          type: array
          items:
            type: string
        add_by_rss_hash_ids:
          type: array
          items:
            type: string
    PlaylistLikesMembershipResponse:
      type: object
      properties:
        item_id_texts:
          type: array
          items:
            type: string
        clip_id_texts:
          type: array
          items:
            type: string
        add_by_rss_hash_ids:
          type: array
          items:
            type: string
    PlaylistLikeToggleRequest:
      type: object
      required:
        - resource_type
      properties:
        resource_type:
          type: string
          enum:
            - item
            - clip
            - add_by_rss
        item_id_text:
          type: string
        clip_id_text:
          type: string
        add_by_rss_hash_id:
          type: string
        add_by_rss_resource_data:
          type: object
    PlaylistLikeToggleResponse:
      type: object
      required:
        - liked
        - resource_type
      properties:
        liked:
          type: boolean
        resource_type:
          type: string
          enum:
            - item
            - clip
            - add_by_rss
    PlaylistLikesResponse:
      type: array
      items:
        $ref: "#/components/schemas/Playlist"
    Queue:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        id_text:
          type: string
        medium_id:
          type: integer
          nullable: true
        is_active_queue:
          type: boolean
    QueueArrayResponse:
      type: array
      items:
        $ref: "#/components/schemas/Queue"
    QueueResource:
      type: object
      additionalProperties: true
      properties:
        id:
          type: integer
        list_position:
          type: string
        playback_position:
          type: string
        media_file_duration:
          type: string
        completed:
          type: boolean
        clip_id:
          type: string
          nullable: true
        item_id:
          type: string
          nullable: true
        item_soundbite_id:
          type: string
          nullable: true
        add_by_rss_hash_id:
          type: string
          nullable: true
        add_by_rss_resource_data:
          type: object
          nullable: true
        clip:
          $ref: "#/components/schemas/Clip"
        item:
          $ref: "#/components/schemas/Item"
    QueueResourceListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/QueueResource"
        meta:
          $ref: "#/components/schemas/ListMeta"
    QueueResourceArrayResponse:
      type: array
      items:
        $ref: "#/components/schemas/QueueResource"
    QueueResourceNullableResponse:
      nullable: true
      allOf:
        - $ref: "#/components/schemas/QueueResource"
    QueueResourceAbridgedEntry:
      type: object
      additionalProperties: false
      required:
        - i
        - p
        - d
      properties:
        i:
          type: integer
        p:
          type: string
        d:
          type: string
        z:
          type: boolean
        c:
          type: integer
        t:
          type: integer
        s:
          type: integer
        a:
          type: string
    QueueResourceAbridgedResponse:
      type: array
      items:
        $ref: "#/components/schemas/QueueResourceAbridgedEntry"
    StatsClipEventRequest:
      type: object
      required:
        - clip_id_text
      properties:
        clip_id_text:
          type: string
    AccountFollowingAddByRSSChannel:
      type: object
      required:
        - account_id
        - feed_url
      properties:
        account_id:
          type: integer
          format: int64
        feed_url:
          type: string
          format: uri
        title:
          type: string
          nullable: true
        image_url:
          type: string
          format: uri
          nullable: true
        basic_auth_username:
          type: string
          nullable: true
          description: Present as "[saved]" when credentials are configured for the feed.
    PayPalOrder:
      type: object
      required:
        - payment_id
        - state
        - account_id
      properties:
        payment_id:
          type: string
        state:
          type: string
        account_id:
          type: integer
          format: int64
    RemoteItemGeneric:
      type: object
      additionalProperties: true
    RemoteItemsResultResponse:
      type: object
      properties:
        channelsAdded:
          type: array
          items:
            $ref: "#/components/schemas/Channel"
        channelsUnadded:
          type: array
          items:
            $ref: "#/components/schemas/RemoteItemGeneric"
        itemsAdded:
          type: array
          items:
            $ref: "#/components/schemas/Item"
        itemsUnadded:
          type: array
          items:
            $ref: "#/components/schemas/RemoteItemGeneric"
    PublisherFeedRemoteItemsResponse:
      allOf:
        - $ref: "#/components/schemas/RemoteItemsResultResponse"
        - type: object
          properties:
            channel:
              nullable: true
              allOf:
                - $ref: "#/components/schemas/Channel"
    PlaylistCreateRequest:
      type: object
      properties:
        title:
          type: string
      additionalProperties: true
security:
  - bearerAuth: []
  - cookieAuth: []
paths:
  /account:
    post:
      operationId: apiPostAccount
      tags:
        - account
      summary: POST /account
      description: Public endpoint for account registration.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountCreateRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountCreateResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationErrorResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
    put:
      operationId: apiPutAccount
      tags:
        - account
      summary: PUT /account
      description: Auto-generated from route matrix. Authenticated endpoint (cookieAuth or bearerAuth).
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountUpdateRequest"
            examples:
              updateProfile:
                summary: Update profile and locale
                value:
                  display_name: Jane Podcaster
                  bio: Host and producer of indie interview podcasts.
                  sharable_status: 1
                  locale: en
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountResponse"
              examples:
                updatedAccount:
                  summary: Account profile after update
                  value:
                    id: 12345
                    id_text: abc123xyz789
                    verified: true
                    created_at: "2024-01-15T10:30:00Z"
                    account_profile:
                      id: 5678
                      display_name: Jane Podcaster
                      bio: Host and producer of indie interview podcasts.
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationErrorResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
  /account-settings/locale:
    patch:
      operationId: apiPatchAccountSettingsLocale
      tags:
        - account-settings
      summary: PATCH /account-settings/locale
      description: Auto-generated from route matrix. Authenticated endpoint (cookieAuth or bearerAuth).
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPatchAccountSettingsLocaleRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiPatchAccountSettingsLocaleResponse200"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationErrorResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
  /account-settings/notification-type:
    delete:
      operationId: apiDeleteAccountSettingsNotificationType
      tags:
        - account-settings
      summary: DELETE /account-settings/notification-type
      description: Auto-generated from route matrix. Authenticated endpoint (cookieAuth or bearerAuth).
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostAccountSettingsNotificationTypeRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiDeleteAccountSettingsNotificationTypeResponse200"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationErrorResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
    post:
      operationId: apiPostAccountSettingsNotificationType
      tags:
        - account-settings
      summary: POST /account-settings/notification-type
      description: Auto-generated from route matrix. Authenticated endpoint (cookieAuth or bearerAuth).
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostAccountSettingsNotificationTypeRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiPostAccountSettingsNotificationTypeResponse200"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationErrorResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
  /account/{id_text}:
    get:
      operationId: apiGetAccountIdText
      tags:
        - account
      summary: GET /account/{id_text}
      description: Auto-generated from route matrix. Authenticated endpoint (cookieAuth or bearerAuth).
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - in: path
          name: id_text
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountPublicResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationErrorResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
  /account/add-by-rss/chapters-transcript:
    post:
      operationId: apiPostAccountAddByRssChaptersTranscript
      tags:
        - account
      summary: POST /account/add-by-rss/chapters-transcript
      description: Auto-generated from route matrix. Authenticated endpoint (cookieAuth or bearerAuth).
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostAccountAddByRssChaptersTranscriptRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiPostAccountAddByRssChaptersTranscriptResponse200"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationErrorResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
  /account/add-by-rss/parse:
    post:
      operationId: apiPostAccountAddByRssParse
      tags:
        - account
      summary: POST /account/add-by-rss/parse
      description: Auto-generated from route matrix. Authenticated endpoint (cookieAuth or bearerAuth).
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostAccountAddByRssParseRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiPostAccountAddByRssParseResponse200"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationErrorResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
  /account/add-by-rss/parse/all:
    post:
      operationId: apiPostAccountAddByRssParseAll
      tags:
        - account
      summary: POST /account/add-by-rss/parse/all
      description: Auto-generated from route matrix. Authenticated endpoint (cookieAuth or bearerAuth).
      security:
        - bearerAuth: []
        - cookieAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiPostAccountAddByRssParseAllRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiPostAccountAddByRssParseAllResponse200"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationErrorResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
  /account/add-by-rss/parse/status/{request_id}:
    get:
      operationId: apiGetAccountAddByRssParseStatusRequestId
      tags:
        - account
      summary: GET /account/add-by-rss/parse/status/{request_id}
      description: Auto-generated from route matrix. Authenticated endpoint (cookieAuth or bearerAuth).
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - in: path
          name: request_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiGetAccountAddByRssParseStatusRequestIdResponse200"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationErrorResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
  /account/delete:
    delete:
      operationId: apiDeleteAccountDelete
      tags:
        - account
      summary: DELETE /account/delete
      description: Auto-generated from route matrix. Authenticated endpoint (cookieAuth or bearerAuth).
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountDeleteResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationErrorResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
  /account/download-data:
    get:
      operationId: apiGetAccountDownloadData
      tags:
        - account
      summary: GET /account/download-data
      description: Auto-generated from route matrix. Authenticated endpoint (cookieAuth or bearerAuth).
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiGetAccountDownloadDataResponse200"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticationErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationErrorResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InternalServerErrorResponse"
  /account/fcm-device/all-for-account:
    get:
      operationId: apiGetAccountFcmDeviceAllForAccount
      tags:
        - account
      summary: GET /account/fcm-device/all-for-account
      description: Auto-generated from route matrix. Authenticated endpoint (cookieAuth or bearerAuth).
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiGetAccountFcmDeviceAllForAccountResponse200"
        "400":
          description: Bad request
          content:
            application/json:
[...]
